{{#> layout}}
    <h1>Set Completion Tracker</h1>
    <form method="post" action="/">
        <label for="url">Enter URL:</label>
        <input id="url" name="url" type="text" placeholder="https://archidekt.com/collection/v2/1234" />
        <button type="submit">Submit</button>
    </form>
{{/layout}}